@charset "UTF-8";

/*
    Author: @davdevelopment
    March 2021
*/

@font-face {
    font-family: 'Avenir';
    src: url(../fonts/Avenir-Black.ttf) format('truetype');
    font-weight: 900;
}
@font-face {
    font-family: 'Avenir';
    src: url(../fonts/Avenir-Heavy.ttf) format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Avenir';
    src: url(../fonts/Avenir-Regular.ttf) format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Avenir';
    src: url(../fonts/Avenir-Book.ttf) format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'Avenir';
    src: url(../fonts/Avenir-Light.ttf) format('truetype');
    font-weight: 100;
}

:root {
    --gray-middle: #D1CFCF;
    --gray-clear: #EFEFEF;
    --gray-dark: #666666;
    --blue-middle: #3574AD;
    --blue-dark: #214B93;
}

/* GENERAL */
* {color: var(--gray-dark);}
a {text-decoration: none;}
.btn-link {background-color: var(--blue-middle); color: #fff; display: block; font-weight: bold; padding: 5px 25px; text-decoration: none; transition: linear all .3s; text-transform: uppercase; width: max-content;}
.btn-link:hover {background-color: var(--gray-dark); color: #fff;}
section { overflow: hidden;}
.wrap-social {margin: 0;}
.wrap-social li {list-style: none;}

/* BG */
.bg-gray-middle {background-color: var(--gray-middle);}
.bg-gray-clear {background-color: var(--gray-clear);}
.bg-white {background-color: #fff;}

/* TEXT */
.txt-blue-middle {color: var(--blue-middle);}
.txt-blue-dark {color: var(--blue-dark);}

/* TOP MENU */
.top-menu {padding-top: 10px; padding-bottom: 10px;}
.top-menu > div {border-right: 1px solid #666666; padding: 0 15px;}
.top-menu > div:last-child {border-right: 0;}
.top-menu ul {padding-left: 10px; margin-bottom: 0;}
.top-menu li {line-height: 1em; list-style: none;}
.top-menu a {color: var(--blue-dark); display: inline-block; font-size: .85em; font-weight: 900; transition: all linear .3s;}
.top-menu a:hover {opacity: 0.7;}
.top-menu img {height: 35px; object-fit: cover; width: 40px;}

/* MAIN MENU */
.menu-item {margin: 0 15px;} 
.menu-item a {color: var(--gray-dark); position: relative; text-transform: uppercase; transition: all .3s linear;} 
.menu-item a:hover {color: var(--blue-middle);} 
.menu-item a.active {color: var(--blue-middle); font-weight: bold;} 
.menu-item a:before {background: var(--blue-middle); bottom: -8px; content: ''; height: 3px; left: 0; transition: all .3s ease-out; position: absolute; width: 0;} 
.menu-item a:hover:before,
.menu-item a.active:before {width: 100%;} 

/* BANNERS */
.carousel-control-prev-icon, 
.carousel-control-next-icon {background-color: var(--gray-dark); padding: 50px 0;}

/* HOME SERVICES */
.wrap_home_services {padding: 100px 0 60px;}
.wrap_home_services a > div {height: 100%; padding: 32px;}
.wrap_home_services a > div > div{width: 100%;}
.wrap_home_services a > div h3 {font-weight: bold; margin-bottom: 0; padding: 15px 0;}

/* PAC SECTION */
.wrap_pac_services {background-color: var(--gray-clear); position: relative;}
.wrap_pac_services > .gatsby-image-wrapper {height: 100%; left: 0; position: absolute !important; top:0; width: 50%;}

/* PBS SECTION */
.wrap_pbs_services {background-color: var(--blue-middle); padding-top: 50px; padding-bottom: 50px;}
.wrap_pbs_services h2 {color: #fff; font-weight: bold; text-align: center; text-transform: uppercase;}
.wrap_pbs_services .bg-white {height: 100%;}
.wrap_pbs_services span {color: var(--blue-middle); font-weight: bold; text-align: center; text-transform: uppercase;}

/* FOOTER */
.footer-menu {border-bottom: 1px solid #666;}
.footer-menu h4 {text-transform: uppercase;}